.App {
  padding: 30px;
}

.fetching-message {
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 1em;
  padding: 30px;
}

.card {
  padding: 5px;
  border: 1px solid black;
}

.card img {
  max-width: 100%;
}

.get-more-characters-button-container {
  display: flex;
  justify-content: center;
}

.get-more-characters-button {
  background: none;
  border: 1px solid black;
}

.card-info-icon-container {
  display: flex;
  justify-content: end;
}
